# OS / IDE
.vscode/
.DS_Store

# Java / Spring Boot
target/
*.log
*.class

# Node / React
node_modules/
build/
dist/
coverage/

# Environment files
.env
.env.*
!.env.example

# AWS / Keys / Security
*.pem
*.key

# CI/CD & Misc
*.zip
*.tar
*.gz

# Optional (if using logs/temp)
logs/
tmp/